/*reset.css*/

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}